<div *ngIf="cellGrid.ImageOrPicture == true; then ShowImage; else ShowEmptySpan"></div>

<ng-template #ShowImage>

  <div [ngSwitch]="cellGrid.ImageName">
    <div *ngSwitchCase="'dog up'">
      <img src="assets/dog.png">
    </div>
    <div *ngSwitchCase="'dog left'">
      <img src="assets/left_dog.png">
    </div>
    <div *ngSwitchCase="'dog right'">
      <img src="assets/right_dog.png">
    </div>
    <div *ngSwitchCase="'dog down'">
      <img src="assets/down_dog.png">
    </div>
    <div *ngSwitchCase="'cat'">
      <img src="assets/cat.jpg">
    </div>
    <div *ngSwitchCase="'bone'">
      <img src="assets/bone.jpg">
    </div>
  </div>
</ng-template>

<ng-template #ShowEmptySpan>
  <span></span>
</ng-template>
