table {
  margin: 4px;
  border-collapse: collapse;
  display: block;
}

tbody {
  border: 1px solid #bbb;
}

td {
  border: 1px solid #bbb;
  padding: 4px;
  min-width: 10px;
  height: 10px;
}

.aliveCell {
  background-color: black;
}

/* http://jsfiddle.net/webtiki/kQXkt/ */
