<div class="container">
  <div class="row">

    <button class="btn btn-primary" [disabled]="disableStart" (click)="StartGame()">
      Start
    </button>
    &nbsp;
    <button class="btn btn-danger" [disabled]="!disableStart" (click)="StopGame()">
      Stop
    </button>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <fieldset [disabled]="success == true || failure == true">
        <table>
          <tr *ngFor="let y of collectionY">
            <td *ngFor="let x of collectionX" [class.aliveCell]="GetValue(x, y)" (mouseover)="UserClickCell($event, x, y)">
              <!-- <span class="aliveCell"></span> -->
            </td>
          </tr>
        </table>
      </fieldset>
    </div>
    <div class="col-lg-6">
      <h3>How To Play</h3>
      <p>Click on Start.</p>
      <p>In order to help maintain and/or add cells, hover on the grid nearby the live cells.</p>
      <p>View following link for more information: <a href="https://en.wikipedia.org/wiki/Conway%27s_Game_of_Life">Conway's game of life</a> </p>
    </div>

  </div>
</div>
