table {
  margin: 8px;
  border-collapse: collapse;
  display: block;
}

tbody {
  border: 1px solid #bbb;
}

td {
  border: 1px solid #bbb;
  padding: 8px;
  min-width: 90px;
  height: 90px;
}

/* http://jsfiddle.net/webtiki/kQXkt/ */
