<h1>Dog Bone Game</h1>


<div class="container">
  <div class="row">
    <div class="col-lg-6">
      <div class="row">
        <fieldset [disabled]="success == true || failure == true">
          <table>
            <tr *ngFor="let y of collectionY">
              <td *ngFor="let x of collectionX" (click)="UserClickCell(x, y)">
                <!-- {{GetValue(x, y)}} -->
                <span-grid [cellGrid]="GetValue(x, y)"></span-grid>
              </td>
            </tr>
          </table>
        </fieldset>
      </div>
      <div class="row">
        <h3>How To Play</h3>
        <p>The dog needs to collect the bone. It needs to avoid collding with the cat while doing so.</p>
        <p>You need to click on the dog cell to get it to rotate.</p>
        <p>You need to select the nearest cell, where the dog's ears point to, in order to get the dog to move.</p>
      </div>
    </div>
    <div class="col-lg-6">
      <div class="container">
        <div class="row">
          <button type="button" class="btn btn-primary" *ngIf="success == true || failure == true" (click)="Initialize()">Restart
            Game</button>
        </div>
        <div class="row">
          <app-notif-bootstrap></app-notif-bootstrap>
        </div>
        <div *ngIf="success == true" class="row alert alert-success">
          Success!!!
        </div>
        <div *ngIf="failure == true" class="row alert alert-danger">
          Failure!!!
        </div>
      </div>

    </div>



  </div>
  <div class="row">

  </div>
</div>
